<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>SignUp page</h1>
    <form style="display: block;" action="/api/user" method="post">
        <label for="">Username</label>
        <input type="text" name="username" placeholder="ajitwaman">
        <label for="">password</label>
        <input type="text" name="password" placeholder="ajitwaman">
        <button style="height: 2rem; background: blue;" type="submit">SignUp</button>
        <a href="/api/user/login">alredy account</a>
    </form>
</body>

</html>